.sidebar {
    position: fixed;
    left: 0;
    top: 45px;
    height: 100vh;
    width: 200px;
    background: #19202e;
    z-index: 0;
}

.sidebar__panel {
    width: 100%;
    background: #1f2637;
    margin-bottom: 6px;
    border-top: 1px solid #282f41;
    box-shadow: 0 2px 0px #141824;
}

/* Add-a-book button */

.sidebar__add-button {
    padding: 35px 20px;
}

.sidebar__add-button button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 44px;
    padding: 12px;
    border: none;
    background: #f2795a;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.sidebar__add-button i {
    padding-right: 12px;
}

.sidebar__add-button button:hover {
    cursor: pointer;
}

/* Sidebar menu */

.sidebar__menu {
    padding-bottom: 10px;
}

.sidebar__menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

li.sidebar__menu-el_selected {
    background: #15a4fa;
} 

li.sidebar__menu-el_selected a {
    color: white;
}

.sidebar__menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #8c97b2;
}

.sidebar__menu a:hover {
    color: white;
}

.sidebar__menu i {
    padding-right: 8px;
}

/* Sidebar legend */

.sidebar__legend {
    padding: 25px 20px;
}

.sidebar__legend ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-transform: capitalize;
}

.sidebar__legend li {
    display: flex;
    padding-left: 4px;
}

.sidebar__legend li:not(:last-of-type) {
    padding-bottom: 25px; 
}

.sidebar__legend i {
    font-size: 6px;
    display: flex;
    align-items: center;
    padding-right: 10px;
}

/* Sidebar history */

.sidebar__history {
    height: 100%;
    padding: 38px 20px 0;
    font-size: 12px;
    color: #6f7d95;
}

.sidebar__history ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebar__history li {
    display: flex;
}

.sidebar__history i {
    padding-top: 2px;
    padding-right: 8px;
    font-size: 14px;
}

.sidebar__history b {
    font-weight: 500;
}

.sidebar__history li:not(:last-of-type) {
    padding-bottom: 35px;
}

.sidebar__history-text {
    font-weight: 300;
}

.sidebar__history p {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    margin-bottom: 12px;
}