#sidebar {
    position: fixed;
    left: 0;
    top: 45px;
    width: 200px;
    height: 100vh;
    background: #19202e;
}

.sidebar-panel {
    width: 100%;
    background: #1f2637;
    margin-bottom: 6px;
    border-top: 1px solid #282f41;
    box-shadow: 0 2px 0px #141824;
}

/* Add-a-book button */

#add-a-book {
    padding: 35px 20px;
}

#add-a-book button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 44px;
    padding: 12px;
    border: none;
    background: #f2795a;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

#add-a-book i {
    padding-right: 12px;
}

#add-a-book button:hover {
    cursor: pointer;
}

/* Sidebar menu */

#sidebar-menu {
    padding-bottom: 10px;
}

#sidebar-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

#sidebar-menu li.selected {
    background: #15a4fa;
}

#sidebar-menu li.selected a {
    color: white;
}

#sidebar-menu a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: #8c97b2;
}

#sidebar-menu a:hover {
    color: white;
}

#sidebar-menu i {
    padding-right: 8px;
}